@font-face {
  font-family: '秀楷';
  src:
    url('/assets/fonts/XiuKai.TTF') format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url("/assets/fonts/IBMPlexMono-Regular.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url("/assets/fonts/IBMPlexMono-Italic.ttf") format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url("/assets/fonts/IBMPlexMono-Light.ttf") format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url("/assets/fonts/IBMPlexMono-LightItalic.ttf") format('truetype');
  font-style: italic;
  font-weight: 200;
}


:root {
  --link-color: #efbb35;
  --text-color: #F9FFEE;
  --background-color: #28313e;
  --font-family: '秀楷', 'IBM Plex Mono', sans-serif, "Arial";
  --highlight-code-background: #1d1f21;
  --highlight-code-border-background: #1d1f2150;
}

.blog__post.demo-blog__posts {
  color: var(--text-color) !important;
}

.mdl-card__supporting-text.blog__post-body, .demo-references .mdl-list__item-primary-content
{
  font-family: var(--font-family) !important;
}

h2, h3, h4, h5, #markdown-toc, .demo-blog .mdl-card__media h3
{
  font-family: var(--font-family) !important;
  font-style: italic;
  font-weight: lighter;
  color: var(--link-color) !important;
}

.android-link {
  font-family: var(--font-family) !important;
  color: var(--link-color) !important;
}

.demo-blog .blog__post .mdl-card__supporting-text blockquote {
  font-family: '秀楷', 'IBM Plex Mono', sans-serif, "Arial";
  font-size: 14px !important;
}

.demo-blog .mdl-card .mdl-card__title-text {
  color: var(--link-color) !important;
}

.demo-blog .blog__post code.highlighter-rouge {
  background-color: var(--highlight-code-background);
}

#markdown-toc a, .demo-blog .mdl-color-text--grey-700, .demo-blog .mdl-list__item, .demo-blog .mdl-list__item-text-body {
  color: var(--text-color) !important;
}

#markdown-toc li {
  border-bottom: initial !important;
}

#markdown-toc li:first-child {
  border-top: initial !important;
}

#markdown-toc a:hover, #markdown-toc a:focus {
  color: var(--background-color) !important;
}

.demo-blog .mdl-color-text--grey-900 {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}

.demo-blog .mdl-card__media h3 {
  background: #28313e80;
}

.demo-blog .mdl-card, .mdl-card__media, .mdl-mini-footer, .android-header {
  background-color: var(--background-color) !important;
}

#markdown-toc {
  position: fixed;
  top: 100px;
  right: 100px;
  width: initial;
}

/** disqus comments */
#layout, #layout .discovery-post-header, #layout .top-comment, #layout .user {
  color: antiquewhite !important;
}

.tab-conversation.active>a {
  color: antiquewhite !important;
}

.comments>.mdl-color-text--primary-contrast.mdl-card__supporting-text {
  background: #fff !important;
}

.demo-blog .blog__post .mdl-card.comments {
  border: 3px dashed var(--link-color);
}

.XiuKai .highlighter-rouge {
  background: var(--highlight-code-border-background);
}
/*
    Name:       Base16 Tomorrow Dark
    Author:     Chris Kempson (http://chriskempson.com)
    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)
*/
.XiuKai .highlight .hll { background-color: #373b41 }
.XiuKai .highlight  { background: var(--highlight-code-background); color: #ffffff }
.XiuKai .highlight .c { color: #969896 } /* Comment */
.XiuKai .highlight .err { color: #cc6666 } /* Error */
.XiuKai .highlight .k { color: #b294bb } /* Keyword */
.XiuKai .highlight .l { color: #de935f } /* Literal */
.XiuKai .highlight .n { color: #ffffff } /* Name */
.XiuKai .highlight .o { color: #8abeb7 } /* Operator */
.XiuKai .highlight .p { color: #ffffff } /* Punctuation */
.XiuKai .highlight .cm { color: #969896 } /* Comment.Multiline */
.XiuKai .highlight .cp { color: #969896 } /* Comment.Preproc */
.XiuKai .highlight .c1 { color: #969896 } /* Comment.Single */
.XiuKai .highlight .cs { color: #969896 } /* Comment.Special */
.XiuKai .highlight .gd { color: #cc6666 } /* Generic.Deleted */
.XiuKai .highlight .ge { font-style: italic } /* Generic.Emph */
.XiuKai .highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.XiuKai .highlight .gi { color: #b5bd68 } /* Generic.Inserted */
.XiuKai .highlight .gp { color: #969896; font-weight: bold } /* Generic.Prompt */
.XiuKai .highlight .gs { font-weight: bold } /* Generic.Strong */
.XiuKai .highlight .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
.XiuKai .highlight .kc { color: #b294bb } /* Keyword.Constant */
.XiuKai .highlight .kd { color: #b294bb } /* Keyword.Declaration */
.XiuKai .highlight .kn { color: #8abeb7 } /* Keyword.Namespace */
.XiuKai .highlight .kp { color: #b294bb } /* Keyword.Pseudo */
.XiuKai .highlight .kr { color: #b294bb } /* Keyword.Reserved */
.XiuKai .highlight .kt { color: #f0c674 } /* Keyword.Type */
.XiuKai .highlight .ld { color: #b5bd68 } /* Literal.Date */
.XiuKai .highlight .m { color: #de935f } /* Literal.Number */
.XiuKai .highlight .s { color: #b5bd68 } /* Literal.String */
.XiuKai .highlight .na { color: #81a2be } /* Name.Attribute */
.XiuKai .highlight .nb { color: #ffffff } /* Name.Builtin */
.XiuKai .highlight .nc { color: #f0c674 } /* Name.Class */
.XiuKai .highlight .no { color: #cc6666 } /* Name.Constant */
.XiuKai .highlight .nd { color: #8abeb7 } /* Name.Decorator */
.XiuKai .highlight .ni { color: #ffffff } /* Name.Entity */
.XiuKai .highlight .ne { color: #cc6666 } /* Name.Exception */
.XiuKai .highlight .nf { color: #81a2be } /* Name.Function */
.XiuKai .highlight .nl { color: #ffffff } /* Name.Label */
.XiuKai .highlight .nn { color: #f0c674 } /* Name.Namespace */
.XiuKai .highlight .nx { color: #81a2be } /* Name.Other */
.XiuKai .highlight .py { color: #ffffff } /* Name.Property */
.XiuKai .highlight .nt { color: #8abeb7 } /* Name.Tag */
.XiuKai .highlight .nv { color: #cc6666 } /* Name.Variable */
.XiuKai .highlight .ow { color: #8abeb7 } /* Operator.Word */
.XiuKai .highlight .w { color: #ffffff } /* Text.Whitespace */
.XiuKai .highlight .mf { color: #de935f } /* Literal.Number.Float */
.XiuKai .highlight .mh { color: #de935f } /* Literal.Number.Hex */
.XiuKai .highlight .mi { color: #de935f } /* Literal.Number.Integer */
.XiuKai .highlight .mo { color: #de935f } /* Literal.Number.Oct */
.XiuKai .highlight .sb { color: #b5bd68 } /* Literal.String.Backtick */
.XiuKai .highlight .sc { color: #ffffff } /* Literal.String.Char */
.XiuKai .highlight .sd { color: #969896 } /* Literal.String.Doc */
.XiuKai .highlight .s2 { color: #b5bd68 } /* Literal.String.Double */
.XiuKai .highlight .se { color: #de935f } /* Literal.String.Escape */
.XiuKai .highlight .sh { color: #b5bd68 } /* Literal.String.Heredoc */
.XiuKai .highlight .si { color: #de935f } /* Literal.String.Interpol */
.XiuKai .highlight .sx { color: #b5bd68 } /* Literal.String.Other */
.XiuKai .highlight .sr { color: #b5bd68 } /* Literal.String.Regex */
.XiuKai .highlight .s1 { color: #b5bd68 } /* Literal.String.Single */
.XiuKai .highlight .ss { color: #b5bd68 } /* Literal.String.Symbol */
.XiuKai .highlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.XiuKai .highlight .vc { color: #cc6666 } /* Name.Variable.Class */
.XiuKai .highlight .vg { color: #cc6666 } /* Name.Variable.Global */
.XiuKai .highlight .vi { color: #cc6666 } /* Name.Variable.Instance */
.XiuKai .highlight .il { color: #de935f } /* Literal.Number.Integer.Long */