@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600');
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

@font-face {
    font-family: ZhongYaSong;
    src: url(/assets/fonts/方正中雅宋仅简中.ttf);
}

.mdl-card__supporting-text.blog__post-body, .demo-references .mdl-list__item-primary-content,
h2, h3, h4, h5, #markdown-toc
{
  font-family: 'ZhongYaSong', 'Josefin Sans', cursive, "Arial", sans-serif !important;
}

.demo-blog .blog__post .mdl-card__supporting-text blockquote p {
  font-family: 'Kalam', cursive;
  font-size: 14px !important;
}
