<div class="mdl-card__media mdl-color-text--grey-50"
{% if post.image %}
{% if post.image.vendor == "500px"  %}
     style="background-image: url('https://drscdn.500px.org{{ post.image.feature }}')"
{% elsif post.image.vendor == "unsplash" %}
     style="background-image: url('https://images.unsplash.com{{ post.image.feature }}')"
{% elsif post.image.vendor == "nationalgeographic" %}
     style="background-image: url('http://www.nationalgeographic.com{{ post.image.feature }}')"
{% elsif post.image.vendor == "yourshot.nationalgeographic" %}
     style="background-image: url('http://yourshot.nationalgeographic.com{{ post.image.feature }}')"
{% elsif post.image.vendor == "instagram" %}
     style="background-image: url('https://scontent-frt3-1.cdninstagram.com{{ post.image.feature }}')"
{% elsif post.image.vendor == "twitter" %}
     style="background-image: url('https://pbs.twimg.com{{ post.image.feature }}')"
{% elsif post.image.vendor == "dronestagr" %}
     style="background-image: url('http://www.dronestagr.am{{ post.image.feature }}')"
{% elsif post.image.vendor == "gstatic" %}
    style="background-image: url('https://www.gstatic.com{{ post.image.feature }}')"

{% else %}
     style="background-image: url('{{ post.image.feature }}')"
{% endif %}
{% endif %}
>
<!-- Article tags -->
<span>
  {% for tag in post.tags %}
  <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/tags/#{{ tag }}">
    <i class="material-icons">chevron_right</i>{{ tag }}
  </a>
  {% endfor %}
</span>
<!-- Article title -->
<h3>{{ post.title }}</h3>
<!-- Feature image's credit link -->
{% if post.image.credit %}
<a class="credit" href="{{ post.image.creditlink }}" target="_blank">
  <span style="display:inline-block;padding:2px 3px;">
    <svg xmlns="http://www.w3.org/2000/svg" style="height:10px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white;" viewBox="0 0 32 32"><title></title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z"></path></svg>
  </span>
  {{ post.image.credit }}
</a>
{% endif %}
</div>
