<div class="android-drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
    <a href="/"><img class="android-logo-image" src="/images/android-logo-white.png"></a>
  </span>
  <nav class="mdl-navigation">
    {% for link in site.data.navigation %}
      {% if link.url contains 'http' %}
          {% assign domain = '' %}
          {% else %}
          {% assign domain = site.myurl %}
      {% endif %}
      <a class="mdl-navigation__link" href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
    {% endfor %}

    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="{{ site.labs }}">Laboratory</span>
    <a class="mdl-navigation__link" href="{{ site.labs }}/map/realtime-aqi-via-d3-voronoi-on-map.html">Voronoi AQI</a>
    <a class="mdl-navigation__link" href="{{ site.labs }}/map/realtime-aqi-via-turf-isolines-on-map.html">Isolines AQI</a>
    <a class="mdl-navigation__link" href="{{ site.labs }}/map/leaflet-baidu/">Leaflet Baidu</a>
    <a class="mdl-navigation__link" href="{{ site.labs }}/fiori/cv/">Fiori</a>
    <a class="mdl-navigation__link" href="{{ site.labs }}/angular2/todo/index.html">Angular</a>
    <a class="mdl-navigation__link" href="{{ site.labs }}/d3/zoom-sequence-sunburst.html">D3.js</a>

    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Resources</span>
    <a class="mdl-navigation__link" href="https://design.google/">Google Design</a>
    <a class="mdl-navigation__link" href="https://fonts.google.com/">Google Fonts</a>
    <a class="mdl-navigation__link" href="https://material.angular.io/">Angular Material</a>
    <a class="mdl-navigation__link" href="https://www.webcomponents.org/">Web Components</a>
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">For developers</span>
    <a class="mdl-navigation__link" href="https://github.com/anypossiblew">Github</a>
    <a class="mdl-navigation__link" href="https://developers.google.com/web/">Google Web</a>
    <a class="mdl-navigation__link" href="https://getmdl.io/index.html">Material Design Lite</a>
  </nav>
</div>
