@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans light';
    src: url('../fonts/open-sans/OpenSans-Light-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans light';
    src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/UbuntuMono-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}