---
sitemap: false
---

@import "variables";


/*
   Global
   ========================================================================== */

@import "mixins";

@import "syntax";

html, body {
  font-family: 'Roboto', 'Source Sans Pro',"Helvetica","Arial",sans-serif;
}

.android-drawer {
  font-family: 'Comfortaa', cursive;
  .mdl-layout-title {
    background-image: url(/images/bg-lab.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    a {
      text-decoration: none;
      color: white;
      font-weight: 700;
    }
  }
}

.android-header {
  font-family: 'Comfortaa', cursive;
  .mdl-layout__header-row {
    .mdl-layout-title {
      font-family: 'Comfortaa', cursive;
      a {
        text-decoration: none;
        color: #6ab344;
        font-weight: 700;
      }
      &.android-mobile-title {
        line-height: 35px;
      }
    }
  }
}

// h2[id], h3[id], h4[id] {
//     font-family: 'Comfortaa',"Roboto","Helvetica","Arial",sans-serif;
// }

// .demo-blog .blog__post .demo-references.mdl-card .mdl-list__item {
//     font-family: 'Comfortaa',"Roboto","Helvetica","Arial",sans-serif;
// }

.demo-blog.demo-blog--blogpost .blog__post {
  text-align: left;
}

// .mdl-card__supporting-text p {
//   max-width:initial;
//   margin: 16px 0;
// }

.demo-blog {

  &.mdl-layout {
    @media (max-width: 479px) {
      .mdl-layout__content {
        padding-top: 50px;
      }
    }
  }

  .blog__post {

    a {
      font-weight: normal;
      text-decoration: none;
    }

    blockquote {
      font-family: $heading-font;
      padding: 20px 40px 0;
      margin: 0;
      width: 100%;
      box-sizing: border-box;
    	@media (max-width: 479px) {
    	  padding: 5px;
    	}

      &::before {
        left: .5em;
      }

      p { // The font size of blockquote text is smaller than body text
        font-size: 14px;
      }
    }

    .gist {
      width: 100%;
    }

    @media (max-width: 479px) {
      .mdl-color-text--grey-50.mdl-card__media {
        padding: 15px;
        .android-link.mdl-button.mdl-js-button {
          padding: 0;
        }
      }

      .mdl-card__title {
        padding: 15px;
        padding-bottom: 5px;
      }
    }

    .mdl-card__supporting-text {
      @media (max-width: 479px) {
        padding: 15px;
      }
      padding: 40px;
      box-sizing: border-box;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      p {
        max-width: 100%;
        margin: 16px 0
      }

      figure, p {
        &.center {
          margin: 0 auto;
        }
        &.middle {
          img {
            max-width: 500px;
          }
        }
        &.small {
          img {
            max-width: 300px;
          }
        }
        &.pull-right {

        }

        figcaption {
          margin: 0 auto;
          max-width: 300px;
        }
      }

      ul {
        li {
          p {
            margin: auto;
            font-size: 14px;
            line-height: 24px;
          }
        }
      }
    }

    .mdl-card.comments {
      padding: 0;
      #disqus_thread {
        width: 100%;
      }

      .mdl-card__supporting-text {
        min-height: 280px;
      }
    }

    .mdl-color-text--grey-700.mdl-card__supporting-text {
      img {
        max-width: 100%;
      }
    }

    .blog__post-body.mdl-card__supporting-text {

      margin-top: -40px;
      @media (max-width: 479px) {
        margin-top: -15px;
      }

    }

    h2[id] {
      font-size: 2em;
      margin: 15px 0 0 0;
    }

    h2[id]::after {
      content: '#';
      margin: 0 5px;
      opacity: 0.3;
    }

    h3[id] {
      font-size: 1.7em;
      margin: 15px 0 0 0;
    }

    h3[id]::after {
      content: '##';
      margin: 0 5px;
      opacity: 0.3;
    }

    h4 {
      font-size: 1.5em;
    }

    h4::after {
      content: '###';
      margin: 0 5px;
      opacity: 0.3;
    }

    h5 {
      font-size: 1.3em;
    }
    h5::after {
      content: '####';
      margin: 0 5px;
      opacity: 0.3;
    }

    .tag--link {
        text-decoration: none;
    }

    .demo-references.mdl-card {
      min-height: 100px;
      .mdl-card__supporting-text {
        padding-top: 0;
      }

      .mdl-list {
        margin: 0 -16px;
      }

      .mdl-list__item, .mdl-list__item-primary-content {
        display: block;
        font-size: 1em;
        line-height: inherit;
      }
    }

    .highlighter-rouge {
      box-sizing: border-box;
    }
  }

  .page-content {
    margin: 50px auto;
  }

  .mdl-list {
    .entry-date {
      float: right;
    }
  }

  .simple-search {
    margin: auto;
  }

  .android-link:hover {
    color: white !important;
  }

  .mdl-card__title {
    padding: 40px;
    padding-bottom: 10px;
    flex-grow: 1;
  }
}

/*
   Kramdown generated table of contents
   ========================================================================== */

#markdown-toc {
	// font-family: 'Comfortaa', cursive;
  width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	border-top: 2px solid $border-color;
	border-bottom: 2px solid $border-color;
	border-radius: $border-radius;
  ul {
  	list-style-type: none;
  	padding-left: 0;
  }
  li {
    @include font-size(18,no,18);
    border-bottom: 1px solid $border-color;
    list-style-type: none;
  }
	li:first-child {
		border-top: 1px solid $border-color;
	}
	li:last-child {
		border-bottom: initial;
	}
  h6 {
    margin: 0;
    padding: 0 0;
    background: $table-stripe-color;
  }
  a {
    color: grey !important;
    display: block;
    padding: 0 0;
    border-left: 2px solid transparent;
    border-bottom: 0 solid transparent;
    text-decoration: none;
    &:hover,
    &:focus {
      background: lighten($border-color,5);
    }
  }

  >li>ul>li {
  	margin-left: 1em;
  	@include font-size(16,no,18);
  }

  >li>ul>li>ul>li {
  	margin-left: 1.5em;
  	@include font-size(14,no,18);
  }

  >li>ul>li>ul>li>ul>li {
  	margin-left: 2em;
  	@include font-size(12,no,18);
  }

  >li>ul>li>ul>li>ul>li>ul>li {
  	margin-left: 2.5em;
  	@include font-size(10,no,18);
  }
}

.mdl-button.mdl-badge.mdl-badge--overlap:after {
  right: 0;
  top: 0;
  z-index: -1;
}

.post-list {
  li {
    margin: 10px 0;
  }
}

a.social-btn {
  display: inline-block;
}

figure.center, p.center {
  margin: 0 auto;
}

/*
   Tables
   ========================================================================== */

/** For nicer looking tables apply the .table class
 *  Example:
 *  <table class="table">
 *    <tr>
 *      <td>cell1</td>
 *      <td>cell2</td>
 *      <td>cell3</td>
 *    </tr>
 *  </table>
*/

table, .table {
	border-collapse: collapse;
	margin: ((0px + $doc-line-height) / 2) 0;
	margin: ((0rem + ($doc-line-height / $doc-font-size)) / 2) 0;
	width: 100%;
	tbody {
		tr:hover > td, tr:hover > th {
			background-color: $table-hover-color;
		}
	}
	thead {
		tr:first-child td {
			border-bottom: 2px solid $table-border-color;
		}
	}
	th {
		padding: (0px + $doc-line-height) / 2;
		padding: (0rem + ($doc-line-height / $doc-font-size)) / 2;
		font-family: $alt-font;
		font-weight: bold;
		text-align: left;
		background-color: $table-header-color;
		border-bottom: 1px solid darken($border-color, 15%);
	}
	td {
		border-bottom: 1px solid $border-color;
		padding: (0px + $doc-line-height) / 2;
		padding: (0rem + ($doc-line-height / $doc-font-size)) / 2;
		@include font-size(18);
	}
	tr, td, th {
		vertical-align: middle;
	}
}

// blockquote: WARNING TIPS Notes ...

.warning {
  font-size: 10px;
  color: #ff4081;
  font-style: normal;
}

.quotes {
  font-size: 10px;
  color: #6ab344;
  font-style: normal;
}

blockquote {

  &.Warning {
    &::before {
      content: "⚡Warning";
      @extend .warning;
    }
    &::after {
      content: none;
    }
  }

  &.Tips {
    &::before {
      content: "💡Tips";
      @extend .warning;
    }
    &::after {
      content: none;
    }
  }

  &.Notes {
    &::before {
      content: "📝Notes";
      @extend .quotes;
    }
    &::after {
      content: none;
    }
  }

  &.Quotes {
    &::before {
      content: "📖Quotes";
      @extend .quotes;
    }
    &::after {
      content: none;
    }
  }

}

// Series blogs
.series.mdl-grid {
  .mdl-card__media {
    min-height: 200px;
    background-image: url('/images/so-simple-sample-image-7.jpg');
    h3 {
      font-size: 1.2em;
    }
  }
}

// Card media
.demo-blog {
  .mdl-card__media {
    position: relative;
    cursor: default;
    .credit {
        position: absolute;
        right: 0;
        bottom: 0;
        text-decoration: none;
        font-weight: 200;
        font-size: 10px;
        padding: 0 5px;
    }
  }
}
