/* Enter your custom styles here */


circle,
path {
  cursor: pointer;
}

circle {
  fill: none;
  pointer-events: all;
}

.partition-chart {
    position: relative;
}

#explanation {
    position: absolute;
    top: 240px;
    left: 180px;
    width: 100px;
    text-align: center;
    color: #666;
    z-index: -1;
	font-size: 1em;
}

#percentage {
    font-size: 1em;
}