---
layout: page
title: "Series"
date:
modified:
excerpt:
image:
  feature:
search_omit: true
sitemap: false
image:
  feature: /images/so-simple-sample-image-4.jpg
---

<style>

.mdl-card > .mdl-card__media {
  color: #fff;
  height: 176px;
  background: url('/images/so-simple-sample-image-6.jpg') center / cover;
}
.mdl-card > .mdl-card__menu {
  color: #fff;
}
.section__circle-container .section__circle-container__circle {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin: 8px 0;
}
</style>

<style>
body::before {
  background-size: cover;
  background-attachment: fixed;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}

@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
   (max-width: 512px)  and (min-resolution: 1.5dppx),
   (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
   (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('{{ page.image.feature }}');
  }
}
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url('{{ page.image.feature }}');
  }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url('{{ page.image.feature }}');
  }
}
</style>

<div class="mdl-layout__tab-panel is-active demo-blog" id="overview">
<div class="demo-blog__posts page-content mdl-grid series">

  {% for post in site.data.series %}
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
    {% include card-media.html %}
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h4 class="mdl-cell mdl-cell--12-col">Details</h4>
      {% for article in post.posts %}
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <div class="section__circle-container__circle mdl-color--primary"></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5><a href="{{ article.link }}">{{ article.title }}</a></h5>
        {{ article.description }}
      </div>
      {% endfor %}
    </div>
    {% if post.series %}
    <div class="mdl-card__actions">
      <a href="{{ post.series }}" class="mdl-button">Read more</a>
    </div>
    {% endif %}
  </div>

  {% endfor %}

</div>
</div>
