<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
    <head>
      {% include head.html %}
        <link rel="stylesheet" href="{{ site.cdnjs }}/reveal.js/3.3.0/css/reveal.css">
        <link rel="stylesheet" href="{{ site.cdnjs }}/reveal.js/3.3.0/css/theme/{{ page.theme }}.css">
        <style>
          .reveal .controls .navigate-left {
            left: 0;
          }
        </style>
    </head>
    <body>
        <div class="reveal">
          <div class="slides">
            {{ content }}
          </div>
        </div>
        <script src="{{ site.cdnjs }}/reveal.js/3.3.0/js/reveal.js"></script>
        <script src="{{ site.cdnjs }}/headjs/1.0.3/head.min.js"></script>
        <script>
            Reveal.initialize({
              // Transition style
              transition: '{{ page.transition }}',
              // Transition style for full page slide backgrounds
              backgroundTransition: '{{ page.transition }}',

              dependencies: [
                // Interpret Markdown in <section> elements
                { src: '{{ site.cdnjs }}/reveal.js/3.3.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                  { src: '{{ site.cdnjs }}/reveal.js/3.3.0/plugin/markdown/markdown.js', condition: function() {
                    return !!document.querySelector( '[data-markdown]' );
                  } },

                  // Syntax highlight for <code> elements
                  { src: '{{ site.cdnjs }}/reveal.js/3.3.0/plugin/highlight/highlight.js', async: true, callback: function() {
                      hljs.initHighlightingOnLoad();
                    }
                  },

                  { src: '{{ site.cdnjs }}/reveal.js/3.3.0/lib/css/zenburn.css', async: true, callback: function() {} },

                  // Zoom in and out with Alt+click
                  { src: '{{ site.cdnjs }}/reveal.js/3.3.0/plugin/zoom-js/zoom.js', async: true },

                  // Speaker notes
                  { src: '{{ site.cdnjs }}/reveal.js/3.3.0/plugin/notes/notes.js', async: true },

                  // MathJax
                  { src: '{{ site.cdnjs }}/reveal.js/3.3.0/plugin/math/math.js', async: true }
              ]
          });
        </script>
    </body>
</html>
